
.about-us-section {
  width: 100%;
  background-color: #f8f9fa;
  padding: 70px 0;
  font-family: 'Arial', sans-serif;
}
.about-us-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 90px;
  padding: 0 20px;
}
.about-us-image {
  flex: 1;
  max-width: 600px;
  max-height: 400px;
}
.team-image {
  width: 100%;
  height: 350px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  margin-left:20px;
} 
.about-us-content {
  flex: 1;
  max-width: 600px;
  margin-left:10px;
  margin-top:-10px;
} 
.main-heading {
  font-size: 40px;
  font-weight: 700;
  padding-top:-2px;
  margin-top:11px;
  font-family: 'Oswald', sans-serif;
  color: #050505;
  line-height: 1.2;
  margin-bottom: 2px;
  text-transform: uppercase;
  letter-spacing: -1px;
} 
.description {
  font-size: 18px;
  line-height: 1.6;
  color: #555;
   font-family: 'Jost', sans-serif;
  margin-bottom: 40px;
  font-weight: 400;
} 
.cta-button {
  background-color:#142788;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(44, 90, 160, 0.3);
} 
.cta-button:hover {
  background-color: #b60e0e;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(20, 39, 136, 0.3);
} 
.cta-button:active {
  transform: translateY(0);
  box-shadow: 0 3px 10px rgba(44, 90, 160, 0.3);
} 
/* Responsive Design */
@media (max-width: 768px) {
  .about-us-container {
    flex-direction: column;
    gap: 50px;
    text-align: center;
  }   
.team-image {
  width: 350px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  margin-left:0px;
}
  .main-heading {
    font-size: 36px;
  }
  
  .about-us-section {
    padding: 30px 0;
  }
}
@media (max-width: 400px) {
  .main-heading {
    font-size: 28px;
  }
  
  .description {
    font-size: 15px;
  }
  .team-image {
  width: 320px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  margin-left:0px;
}
  
  .about-us-container {
    padding: 0 15px;
  }
}